$orange: #F7AC08;
$white: white;
$grey: #bfbdbc;
$black: black;


.header {
    background-color: $grey;
    color: $white;
    font-family: serif;
    text-align: initial;
    padding: 5px 5px 5px;

    h2 {
        text-align: left;
        font-style: italic;
    }
}

    .col {
        padding-top: 15px;
    }

    .nav-pills {
        padding-top: 30px;
    }

    .nav-link {
        background-color: $orange;
        color: $white;
        align-content: center;

        :active {
            background-color: $grey;  
        }
    }

.home_button { 
    margin-left: 15px;
    padding-top: 10px;
}

.resultstable {
    padding-top: 40px;
    padding-left:20px;
    padding-bottom: 80px;

    .resultsheader {
        background-color: $orange;
        
    .resultsgrid {
        background-attachment: $grey;
        }
    }
}

footer {
    background-color: $grey;
    color: $white;
    font-size: 12px;
    padding: 12px;
}