$orange: #F7AC08;
$white: white;
$grey: #bfbdbc;
$black: black;

.search_cat {
    background-color: $white;
    padding: 40px 270px 120px;
    text-align: center;
    
    
    h2 {
        font-family: serif;
        font-weight: bolder;
        color: $orange;
        padding-bottom: 60px;
    }

    a {
        color: $black;
        font-weight: bolder;
        font-family: serif;
        text-decoration: underline;
        padding-left: 20px;
      }
}